:root {
  --zeroPresentBlueColor: rgb(200, 239, 255);
  --tenPrecentBlue: rgb(188, 203, 255);
  --thirtyPresentBlue: rgb(59, 105, 255);
  --sixtyPresentBlue: rgb(0, 25, 134);
  --ninetyPresentBlue: rgb(0, 12, 63);
  --tenPresentRed: rgb(251, 177, 65);
  --twentyPresentRed: rgb(139, 102, 0);
  --thrirtyPresentRed: rgb(255, 120, 30);
  --sixtyPresentRed: rgb(255, 0, 0);
  --ninetyPresentRed: rgb(124, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

.about-us-section {
  background: var(--ninetyPresentBlue);
  padding-bottom: 4rem;
  padding-top: 7rem;
  margin-bottom: 0;
}

.about-us-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 3rem;
  margin-left: 7%;
}

.about-us-img img {
  max-width: 100%;
  height: 400px;
  border-radius: 10px;
}

.about-text {
  margin-top: 20px;
  background: rgb(0, 7, 39);
  padding: 1rem;
  border-radius: 10px;
  width: 40%;
  padding-bottom: 2rem;
}

.about-text h2 {
  font-size: 40px;
  color: var(--tenPrecentBlue);
  text-shadow: 0 2px var(--thirtyPresentBlue);
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-text p {
  color: var(--tenPrecentBlue);
  font-size: 20px;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .about-us-section {
    height: 100%;
  }

  .about-us-img {
    flex-direction: column;
    gap: 2rem;
    margin-left: auto;
  }

  .about-us-img img {
    height: 250px;
  }

  .about-text {
    margin-top: 10px;
    width: 80%;
  }
}
